# Credenciales y archivos sensibles
river-surf-452722-t6-24c6cdaf896b.json
*credentials*.json
service-account*.json

# Archivos temporales
temp/
shorts_output/
audio_transcription/
temp_videos/
*.mp4
*.wav
*.mp3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/

# Archivos de sistema y configuración
.DS_Store
.env
.env.example
.env.*
.venv
# Permitir
!requirements.txt
!package.json
!package-lock.json